<div class="profil-content">
  <div class="profil-data">
    {{> root/profil_update_form }}
  </div>
  <div class="profil-summury">
    <span class="circle-avatar" id="p-initial">O</span>
    <span class="text-h1" id="p-nom">Nve Orphee</span>
    <a href="mailto:a@a.com" id="p-email">norpheehounkponou@gmail.com</a>

    <span class="gray-text">Droit d'acces</span>
    <div id="roles"></div>
    <div class="divider"></div>
    <span class="gray-text">Utilisation du systeme</span>
    <span class="text-small" id="p-last-connexion">Derniere connexion le 00:00</span>
    <span class="text-small" id="p-last-activity">Derniere activite le 00:00</span>
    <span class="gray-text">Etat du compte</span>
    <div class="account-stat">
      <div class="left-row">
        <span class="green red" id="stat-icon"></span>
        <span class="text-p" id="stat-text">Active</span>
      </div>
      <button class="dlt-btn" id="stat-btn">Desactiver</button>
    </div>
  </div>
</div>