<div class="utilisateur-wrapper">
  <section class="header">
    <a href="/root/nouvelle-utilisateur" class="btn gray-btn">Nouvelle utilisateur</a>
  </section>
  <section class="content">
    <table class="large-table">
      <thead>
        <tr>
          <th class="text-small">Nom et prénom</th>
          <th class="text-small">Téléphone</th>
          <th class="text-small">Email</th>
          <th class="text-small">Dernière activité</th>
        </tr>
      </thead>
      <tbody id="profils">
   
      </tbody>
    </table>
  </section>
</div>