<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap"
      rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Ubuntu&display=swap"
      rel="stylesheet">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
      href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/iconmoon/style.css">
    <link rel="stylesheet" href="/css/core/home_header.css">
    <link rel="stylesheet" href="/css/core/home.css">
    <link rel="stylesheet" href="/css/core/home_sidebar.css">

    <link rel="stylesheet" href="/css/shared/tab.css">

    <title>{{title}}</title>
  </head>
  <body>
    {{> @partial-block }}
    <script type="text/javascript"
      src="http://51.222.142.71:1148//web-apps/apps/api/documents/api.js"></script>
    <script src="/js/core/home.js" type="module"></script>
  </body>
</html>
