<header>
  <div class="left">
    <span class="text-h1" id="epg">{{ initial }}</span>
    <span class="text-h2">Application demo</span>
  </div>
  <div class="right">
    <div class="dropdown">
      <div class="dropdown-button">
        <h2 class="circle-avatar user-initials"></h2>
      </div>
      <div class="dropdown-menu">
        <div class="dropdown-header">
          <h2 class="circle-avatar user-initials"></h2>
          <div>
            <span class="text-p" id="user-email"></span>
            <span class="text-p" id="user-fullname"></span>
          </div>
        </div>
        <div class="dropdown-list">
          <a href="/home"><span class="icon-home"></span> Home</a>
          <a href="#" id="my-profil"><span class="icon-user"></span>Mon profil</a>
          <a href="#" id="changePassBtn"><span class="icon-padlock"></span>Changer de mot de passe</a>
        </div>
        <div class="dropdown-footer">
          <a href="#" id="logoutBtn"><span class="icon-logout"></span>Se deconnecter</a>
        </div>
      </div>
    </div>
  </div>
</header>