.creer-utilisateur-form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  .title {
    text-align: start;
    width: 90%;
  }
  
  .cuf-content {
    width: 90%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 6rem;
    align-items: flex-start;
    
    .form-group {
      min-width: 300px;
      max-width: 100%;
      margin-right: 1rem;
    }
  }
  
  .cuf-footer {
    padding: 0.5rem;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: fixed;
    bottom: 0px;
    right: 0px;
    border-top: 1px solid #ccc;
    background-color: white;
  }
}
