@use "../../variable";

.profil-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;

  .profil-summury {
    width: 400px;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: sticky;
    top: variable.$header_height;
    z-index: 0;

    #p-nom {
      font-weight: bold;
      font-size: 14px;
      padding-top: 2rem;
    }

    a {
      color: blue;
      text-decoration: none;
      padding-top: 0.5rem;
    }

    .gray-text {
      color: #777;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    #roles {
      display: flex;
      flex-direction: row;
      padding-bottom: 1rem;
      span {
        background-color: #eee;
        padding: 0.5rem 1rem;
        margin-right: 0.5rem;
      }
    }
    
    .divider {
      border-bottom: 1px solid #eee;
      width: 100%;
    }

    .account-stat {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      #stat-text {
        padding: 0.5rem;
      }

      #stat-icon {
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 100px;
      }

      .left-row {
        display: flex;
        flex-direction: row;
        align-items: center;

        .green {
          background-color: green;
        }

        .red {
          background-color: red;
        }
      }
    }
  }

  .profil-data {
    flex: 1;
    padding: 2rem;

    .title {
      padding-top: 2rem;
    }

    .cuf-content {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-bottom: 2rem;
      .form-group {
        min-width: 300px;
        max-width: 100%;
        width: 200px;
        margin-right: 1rem;
        input,
        select {
          border: none;
          padding-left: 0;
        }
      }
    }

    .cuf-footer {
      padding: 0.5rem;
      display: flex;
      width: 100%;
      justify-content: flex-end;
      position: fixed;
      bottom: 0px;
      right: 0px;
      border-top: 1px solid #ccc;
      background-color: white;
      z-index: 1;
    }
  }
}
