{{#> header }}

<link rel="stylesheet" href="/css/core/login_sidebar.css">
<link rel="stylesheet" href="/css/pages/login/login.css">

<main>
  <div class="main-wrapper">
    <img src="/assets/img/logo.png" alt="" class="logo">

    <span class="title"><strong>Activation de compte,</strong></span>
    <span class="subtitle">Veuillez renseigner votre mot de passe pour activer votre compte</span>

    <div class="form-container">
      <div class="form-group">
        <label for="password">Nouveau mot de passe</label>
        <input type="password" id="password">
      </div>

      <div class="form-group">
        <label for="confpassword">Confirmer le nouveau mot de passe</label>
        <input type="password" id="confpassword">
      </div>

      <div class="form-group">
        <button id="activeBtn" class="dlt-btn">Activer</button>
      </div>
    </div>
  </div>
  {{>login_sidebar}}
</main>

<script src="/js/page/login/active_account.js" type="module"></script>

{{/header}}