@use "./variable";

button,
.btn {
  border: none;
  background-color: transparent;
  color: black;
  padding: 0.8rem 2rem;
  transition: 0.4s;
  text-decoration: none;
  font-size: 12px;
}

.btn {
  width: fit-content;
}

button:hover,
.btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.dlt-btn {
  background-color: variable.$color-blue;
  color: #fff;
}

.gray-btn {
  background-color: #fafafa;
  color: black;
  border: 1px solid #777;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 4px;

  * {
    padding: 0.2rem 0rem;
  }
}
